//-------------------------
//-------------------FOOTER
//-------------------------
footer {
  font-size: 0;
   .secondLevel{
     position: relative;
     top: 0;
     padding: 0 7rem;
     @include breakpoint (phone){
       padding-bottom: 2rem;
     }
     .copyright,
     .designed,
     .footer-logo{
       width: 33%;
       display: inline-block;
       vertical-align: middle;
       padding-top: 1rem;
       @include breakpoint (phone){
         width: 100%;
         display: block;
         vertical-align: inherit;
       }
     }
     .copyright{
       text-align: left;
       @include breakpoint (phone){
         text-align: center;
       }
     }
     .designed{
       text-align: center;
     }
     .footer-logo{
       padding-top: 1rem;
       text-align: right;
       img{
         float: right;
         @include breakpoint (phone){
          float: none;
          margin: 0 auto;
         }
       }
     }
     a,span{
       font-size: 1.6rem;
       color: $colorWhite;
     }
   }
}
.footer-info{
  ul{
    margin-top: 3rem;
    margin-bottom: 6rem;
    li{
      line-height: 2rem;
      span,a{
        color: $colorWhite;
        font-size: 1.5rem;
      }
      i{
        color: $colorPink;
        font-size: 1.5rem;
        margin-right: 1rem;
      }
    }
  }
}
