//-------------------------
//----------------CONTAINER
//-------------------------
.container {
    @extend %clearfix;

    width: 80vw;
    margin: 0 auto;

    position: relative;
}

.container--flag {
    @extend .container;
}
.innerContainer{
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
}
.innerContainer-big{
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  clear: both;
}
.innerContainer-full{
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  clear: both;
}
