//-------------------------
//---------------TYPOGRAPHY
//-------------------------

//------FONT-FACE
// @include fontFace (Gotham, gotham-light);

//------FONT SIZES
html {
    $fontSizePX: $baseFontSize + 'px';
    font-size  : #{$fontSizePX};

    @include breakpoint (tablet) {
        $fontSizePX: $baseFontSize / 1.5 + 'px';
        font-size  : #{$fontSizePX};
    }
    @include breakpoint (phone) {
        $fontSizePX: $baseFontSize / 1.6 + 'px';
        font-size  : #{$fontSizePX};
    }
}
body {
    font-size: 100%;
    font-family: $baseFont;
}

//------DEFAULT STYLES
b,
strong {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
u {
    text-decoration: underline;
}

//------STYLES
h1 {
    font-size: 3.6rem;
    text-transform: uppercase;
    font-family: $baseFont--bold;
    color: $colorWhite;
    text-align: center;
    &:after{
      display: block;
      width: 10rem;
      height: 0.5rem;
      background-color: $colorPink;
      content: '';
      margin: 2.3rem auto;
      margin-bottom: 3.5rem;
    }
    @include breakpoint (phone){
      font-size: 5rem;
    }
}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
p {

}
span {

}
