//-------------------------
//----------------VARIABLES
//-------------------------

//-----COLORS
$colorWhite: #FFF;
$colorBlack: #000;
$colorRed  : #F00;
$colorGreen: #0F0;
$colorBlue : #00F;
$colorPink : #ec008c;
$colorMain : $colorWhite;
$colorHeaderTop : #181a1f;

//------DIMENSIONS
$baseFontSize: 10;

$largeImageFlagWidth: 50%;


//------MEDIA QUERIES
$mobile--small   : 480px;
$tablet          : 768px;
$desktop         : 1025px;
$laptop          : 1333px;
$desktop--large  : 1600px;

$toPhone--small  : 479px;
$toTablet        : 767px;
$toDesktop       : 1024px;
$toDesktop--large: 1599px;

@font-face {
  font-family: 'FontAwesome';
  src: url("../../fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaRegular';
  src: url('../fonts/NexaRegular.eot');
  src: url('../fonts/NexaRegular.eot') format('embedded-opentype'), url('../fonts/NexaRegular.woff2') format('woff2'), url('../fonts/NexaRegular.woff') format('woff'), url('../fonts/NexaRegular.ttf') format('truetype'), url('../fonts/NexaRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaHeavy';
  src: url('../fonts/NexaHeavy.eot');
  src: url('../fonts/NexaHeavy.eot') format('embedded-opentype'), url('../fonts/NexaHeavy.woff2') format('woff2'), url('../fonts/NexaHeavy.woff') format('woff'), url('../fonts/NexaHeavy.ttf') format('truetype'), url('../fonts/NexaHeavy.svg') format('svg');
}
@font-face {
  font-family: 'NexaBold';
  src: url('../fonts/NexaBold.eot');
  src: url('../fonts/NexaBold.eot') format('embedded-opentype'), url('../fonts/NexaBold.woff2') format('woff2'), url('../fonts/NexaBold.woff') format('woff'), url('../fonts/NexaBold.ttf') format('truetype'), url('../fonts/NexaBold.svg') format('svg');
}
//------FONTS
$fontDefault     : Arial, Helvetica, Tahoma, sans-serif;
$baseFont        : "NexaRegular", $fontDefault;
$baseFont--bold  : "NexaHeavy", $fontDefault;
$baseFont--fat   : "NexaBold", $fontDefault;

//------Z INDEX LEVELS
$levelBottom: 1;
$levelMiddle: 2;
$levelTop   : 3;
