.bodyPage{
  overflow: hidden;
  &FirstLevel{
    padding-top: 7.55rem;
    &-parallax{
      height: 41rem;
      background: url('../images/dance.jpg');
      background-position: 0% 0%;
      background-attachment: fixed;
      margin-top: 10rem;
      position: relative;
      background-repeat: no-repeat;
      @include breakpoint (toDesktop){
        background-attachment: inherit;
        height: 50rem;
        background-position: 35% 10%;
      }
      @include breakpoint (phone){
        height: 65rem;

      }
      &Holder{
        position: absolute;
        left: 20%;
        right: 20%;
        top: 5.5rem;
        max-width: 70rem;
        margin: 0 auto;
        @include breakpoint (phone){
          left: 5%;
          right: 5%;
        }
      }
    }
  }
  .relative{
    position: relative;
  }
  &SecondLevel,
  &ThirdLevel,
  &FourthLevel{
    padding-top: 5.8rem;
    max-width: 65rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
    h3{
      font-size: 3rem;
      color: $colorWhite;
      background: url('../images/pink-background.png');
      background-repeat: no-repeat;
      background-position: 50%;
      padding: 1rem 0;
    }
  }
  &ThirdLevel{
    &-parallax{
      height: 41rem;
      background: url('../images/quote-background.jpg');
      background-position: 0% 0%;
      background-attachment: fixed;
      margin-top: 10rem;
      position: relative;
      background-repeat: no-repeat;
      opacity: 1 !important;
      @include breakpoint (toDesktop){
        background-attachment: inherit;
        background-position: 0% 30%;
      }
      @include breakpoint(phone){
        height: 50rem;
        background-position: 21% 30%;
      }
      &Holder{
        position: absolute;
        left: 20%;
        right: 20%;
        top: 5.5rem;
        max-width: 70rem;
        margin: 0 auto;
        img{
          margin: -2rem auto;
          @include breakpoint (tablet){
            width: 40%;
          }
        }
      }
    }
  }
  &FlexLevel{
    &-parallax{
      height: 41rem;
      background: url('../images/flex.jpg');
      background-position: 0% 0%;
      background-attachment: fixed;
      margin-top: 10rem;
      position: relative;
      background-repeat: no-repeat;
      opacity: 1 !important;
      @include breakpoint (toDesktop){
        background-attachment: inherit;
        height: 50rem;
        background-position: 35% 32%;
      }
      @include breakpoint (phoneSmall){
        height: 60rem;
      }
      &Holder{
        position: absolute;
        left: 20%;
        right: 20%;
        top: 5.5rem;
        max-width: 70rem;
        margin: 0 auto;
        img{
          margin: -2rem auto;
        }
      }
    }
  }
  &FourthLevel{
    max-width: 100%;
    &-instagram{
      width: 100%;
    }
    iframe{
      border: 5px solid $colorPink;
    }
    &-instagram{
      ul{
        font-size: 0;
        li{
          display: inline-block;
          width: 25%;
          position: relative;
          cursor: pointer;
          @include breakpoint (phone){
            width: 50%;
          }
        }
      }
    }

    .instagram__cover{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: #fff;
      opacity: 0;
      text-align: center;
      -webkit-transition: all .25s ease-out;
      transition: all .25s ease-out;
      background-color: rgba(49,52,60,0.7);
      &:before{
        content: "\f16d";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
    /*--adjust as necessary--*/
        color: $colorWhite;
        font-size: 6.5rem;
        padding-right: 0.5em;
        position: absolute;
        top: 40%;
        left: 45%;
      }
    }
    .bodyPageFourthLevel-instagram ul li:hover .instagram__cover{
      opacity: 1;
    }
  }
  &FifthLevel{
    &-parallax{
      height: 1080px;
      background: url(../images/euphoria.jpg);
      background-position: 50% 0%;
      background-attachment: fixed;
      margin-top: 10rem;
      position: relative;
      background-repeat: no-repeat;
      opacity: 1 !important;
      @include breakpoint (toDesktop){
        background-attachment: inherit;
        height: 100%;
      }
      @include breakpoint (phone){
        height: 70rem;
      }
      @include breakpoint (smallPhone){
        height: 70rem;
      }
      &Holder{
        position: absolute;
        left: 20%;
        right: 20%;
        top: 5.5rem;
        max-width: 70rem;
        margin: 0 auto;
      }
    }
  }
  .first-image{
    position: absolute;
    top: 13.5rem;
    left: -100%;
    @include breakpoint (tablet){
      width: 75%;
    }
    @media screen and (min-width: 768px) and (max-width: 769px){
      left: -80%;
    }
    @include breakpoint (phone){
      display: none;
    }
  }
  .second-image{
    position: absolute;
    bottom: 13.5rem;
    right: -125%;
    @include breakpoint (tablet){
      width: 75%;
      right: -100%;
    }
    @include breakpoint (phone){
      display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 769px){
      right: -80%;
    }
  }
  .third-image{
    position: absolute;
    top: 18rem;
    left: -100%;
    @include breakpoint (tablet){
      width: 75%;
      left: -85%;
    };
    @include breakpoint (phone){
      display: none;
    };
    @include breakpoint (laptop){
      left: -80%;
    }
  }
  .fourth-image{
    position: absolute;
    top: 18rem;
    right: -100%;
    @include breakpoint (tablet){
      width: 75%;
      right: -85%;
    }
    @include breakpoint (phone){
      display: none;
    }
    @include breakpoint (laptop){
      right: -80%;
    }
  }
}
.span-text,
.span-text-big,
.span-text-bigger{
  color: $colorWhite;
  line-height: 2rem;
  display: block;
  text-align: center;
  font-size: 1.6rem;
  max-width: 42rem;
  margin: 0 auto;
  @include breakpoint (toDesktop){
      font-size: 2.5rem;
      line-height: 3rem;
      max-width: 100%;
  }
  a{
    color: $colorPink;
  }
}
.span-text-big{
    max-width: 52rem;
}
.span-text-bigger{
    margin: 3.5rem auto;
}
#thumbnails{
  ul{
    font-size: 0;
  }
  li{
    display: inline-block;
    width: 25%;
    @include breakpoint (phone){
      width: 50%;
    }

  }
}
#lightbox-container-image-data-box{
  display: none !important;
}
.bodyPageKontaktLevel{
  &-parallax{
    height: 50rem;
    background: url('../images/contact.jpg');
    background-position: 50% 100%;
    background-attachment: fixed;
    margin-top: 10rem;
    position: relative;
    background-repeat: no-repeat;
    opacity: 1 !important;
    @include breakpoint (toDesktop){
      background-attachment: inherit;
      height: 67%;
    }
    @include breakpoint (phoneSmall){
      height: 69rem;
    }
    h1{
      padding-top: 5.4rem;
      @include breakpoint (tablet){
        padding-top: 15.4rem;
      }
    }
    iframe{
      border: 5px solid $colorPink;
    }
    &Holder{
      position: absolute;
      left: 20%;
      right: 20%;
      top: 5.5rem;
      max-width: 70rem;
      margin: 0 auto;
      img{
        margin: -2rem auto;
      }
    }
  }
}
.footer-info{
    text-align: center;
}
