/*------------------------------------------------------------------------------
*    CSS Document (http://www.w3.org/Style/CSS/)
*    For STYLEGUIDE, reffer to /config/_styleguide.scss
-----------------------------------------------------------------------------*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../../fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NexaRegular';
  src: url("../fonts/NexaRegular.eot");
  src: url("../fonts/NexaRegular.eot") format("embedded-opentype"), url("../fonts/NexaRegular.woff2") format("woff2"), url("../fonts/NexaRegular.woff") format("woff"), url("../fonts/NexaRegular.ttf") format("truetype"), url("../fonts/NexaRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NexaHeavy';
  src: url("../fonts/NexaHeavy.eot");
  src: url("../fonts/NexaHeavy.eot") format("embedded-opentype"), url("../fonts/NexaHeavy.woff2") format("woff2"), url("../fonts/NexaHeavy.woff") format("woff"), url("../fonts/NexaHeavy.ttf") format("truetype"), url("../fonts/NexaHeavy.svg") format("svg"); }
@font-face {
  font-family: 'NexaBold';
  src: url("../fonts/NexaBold.eot");
  src: url("../fonts/NexaBold.eot") format("embedded-opentype"), url("../fonts/NexaBold.woff2") format("woff2"), url("../fonts/NexaBold.woff") format("woff"), url("../fonts/NexaBold.ttf") format("truetype"), url("../fonts/NexaBold.svg") format("svg"); }
/* EXAMPLE
*    @include breakpoint (phone) {
*        width: 40%;
*    }
*/
/* EXAMPLE
*
*    @include borderRadius (10em 1em 3em 2px);
*    @include borderRadius (3em);
*/
/* EXAMPLE
*    @include transition (opacity 0.2s linear);
*    Default is 'all 0.3s ease-in-out'
*/
/* EXAMPLE
*    @include transform (rotate(10deg));
*    Default is 'translate(-50%, -50%)'
*/
/* EXAMPLE
*
*	@include calc (width, "100% - 3rem");
*		MUST USE QUOTES ON VALUE
*/
/* EXAMPLE
*
*    input { @include inputPlaceholder { color: #FA0; } }
*/
/* EXAMPLE
*
*    @include fontFace (FontName, fontFolder, 700, italic);
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after,
blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details,
figcaption, figure, footer,
header, hgroup, main,
menu, nav, section,
summary {
  display: block; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

::selection {
  color: #FFF;
  background-color: #262626; }

::-moz-selection {
  color: #FFF;
  background-color: #262626; }

::-webkit-selection {
  color: #FFF;
  background-color: #262626; }

html {
  overflow-y: scroll; }

html, body {
  width: 100%;
  overflow-x: hidden; }

@media (max-width: 1024px) {
  body {
    overflow-y: hidden; } }

.bodyPage {
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background: url("../images/body.jpg"); }

img {
  display: block;
  max-width: 100%; }

a {
  outline: none;
  text-decoration: none; }

html {
  -webkit-font-smoothing: antialiased; }

input,
textarea,
select {
  box-sizing: inherit; }

input[type="search"] {
  -webkit-appearance: textfield !important; }

input[type="search"]::-webkit-search-cancel-button {
  display: none; }

html {
  font-size: 10px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    html {
      font-size: 6.66667px; } }
  @media (max-width: 767px) {
    html {
      font-size: 6.25px; } }

body {
  font-size: 100%;
  font-family: "NexaRegular", Arial, Helvetica, Tahoma, sans-serif; }

b,
strong {
  font-weight: bold; }

i,
em {
  font-style: italic; }

u {
  text-decoration: underline; }

h1 {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-family: "NexaHeavy", Arial, Helvetica, Tahoma, sans-serif;
  color: #FFF;
  text-align: center; }
  h1:after {
    display: block;
    width: 10rem;
    height: 0.5rem;
    background-color: #ec008c;
    content: '';
    margin: 2.3rem auto;
    margin-bottom: 3.5rem; }
  @media (max-width: 767px) {
    h1 {
      font-size: 5rem; } }

.container, .container--flag {
  *zoom: 1; }
  .container:before, .container--flag:before, .container:after, .container--flag:after {
    content: "";
    display: table; }
  .container:after, .container--flag:after {
    clear: both; }

.clear {
  clear: both; }

.hide {
  display: none; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.fleft {
  float: left; }

.fright {
  float: right; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.vertical-top {
  vertical-align: top; }

.vertical-middle {
  vertical-align: middle; }

.table {
  display: table; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.flag__media {
  width: 50%; }

.flag, .flag--block, .flag--large, .flag--right {
  width: 33.33333%; }

.container, .container--flag {
  width: 80vw;
  margin: 0 auto;
  position: relative; }

.innerContainer {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto; }

.innerContainer-big {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  clear: both; }

.innerContainer-full {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  clear: both; }

.btn {
  border: none;
  outline: none;
  -webkit-appearance: none; }

.sticky-helper {
  display: inline-block;
  width: 90%;
  float: right;
  font-size: 14px; }

.sticky-social {
  display: inline-block;
  width: 60px;
  top: 0px;
  border: 1px solid black; }
  .sticky-social li {
    display: inline-block;
    width: 100%;
    text-align: center; }

header .firstlevel,
footer .firstlevel {
  background-color: #181a1f;
  height: 4.7rem;
  font-size: 0rem;
  padding: 1.8rem 10rem;
  position: fixed;
  width: 100%;
  z-index: 3; }
  @media (min-width: 768px) and (max-width: 1333px) {
    header .firstlevel,
    footer .firstlevel {
      padding: 1.8rem 5rem; } }
  @media (max-width: 767px) {
    header .firstlevel,
    footer .firstlevel {
      display: none; } }
  header .firstlevel i,
  footer .firstlevel i {
    color: #ec008c; }
  header .firstlevel .fa-phone-square,
  footer .firstlevel .fa-phone-square {
    margin-left: 4.4rem; }
  header .firstlevel .fa-envelope,
  footer .firstlevel .fa-envelope {
    margin-left: 5rem; }
  header .firstlevel span,
  footer .firstlevel span {
    color: #FFF; }
  header .firstlevel a,
  footer .firstlevel a {
    color: #FFF; }
  header .firstlevelLeft, header .firstlevelRight,
  footer .firstlevelLeft,
  footer .firstlevelRight {
    width: 50%;
    display: inline-block;
    font-size: 1.65rem; }
  header .firstlevelRight,
  footer .firstlevelRight {
    text-align: right; }
header .secondLevel,
footer .secondLevel {
  background-color: #ec008c;
  height: 5.5rem;
  position: fixed;
  width: 100%;
  top: 4.7rem;
  z-index: 3; }
  @media (max-width: 1024px) {
    header .secondLevel,
    footer .secondLevel {
      height: auto; } }
  @media (max-width: 767px) {
    header .secondLevel,
    footer .secondLevel {
      top: 0; } }
  header .secondLevel .logo,
  footer .secondLevel .logo {
    display: inline-block;
    padding: 1rem 10rem;
    vertical-align: middle; }
    @media (min-width: 768px) and (max-width: 1333px) {
      header .secondLevel .logo,
      footer .secondLevel .logo {
        padding: 1rem 5rem; } }
    @media (max-width: 479px) {
      header .secondLevel .logo,
      footer .secondLevel .logo {
        padding: 1rem 2rem; } }
  header .secondLevel .navigation,
  footer .secondLevel .navigation {
    font-size: 1.6rem;
    color: #FFF;
    display: inline-block;
    vertical-align: middle;
    padding-left: 22.6rem;
    margin-top: 0.5rem; }
    @media screen and (min-width: 1334px) and (max-width: 1615px) {
      header .secondLevel .navigation,
      footer .secondLevel .navigation {
        padding-left: 0rem; } }
    @media (min-width: 768px) and (max-width: 1333px) {
      header .secondLevel .navigation,
      footer .secondLevel .navigation {
        padding-left: 2rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      header .secondLevel .navigation,
      footer .secondLevel .navigation {
        padding-left: 0; } }
    @media (max-width: 767px) {
      header .secondLevel .navigation,
      footer .secondLevel .navigation {
        position: absolute;
        left: 0;
        right: 0;
        top: -0.5rem; } }
    @media (max-width: 767px) {
      header .secondLevel .navigation ul,
      footer .secondLevel .navigation ul {
        display: none; } }
    header .secondLevel .navigation li,
    footer .secondLevel .navigation li {
      display: inline-block;
      padding-right: 9.5rem;
      text-transform: uppercase; }
      @media screen and (min-width: 1334px) and (max-width: 1615px) {
        header .secondLevel .navigation li,
        footer .secondLevel .navigation li {
          padding-right: 5.5rem; } }
      @media (min-width: 768px) and (max-width: 1333px) {
        header .secondLevel .navigation li,
        footer .secondLevel .navigation li {
          padding-right: 2rem; } }
      header .secondLevel .navigation li a,
      footer .secondLevel .navigation li a {
        padding: 1.7rem 0;
        color: #FFF; }
      header .secondLevel .navigation li .hvr-underline-from-center,
      footer .secondLevel .navigation li .hvr-underline-from-center {
        color: #FFF; }
  header .secondLevel .social-links,
  footer .secondLevel .social-links {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 10rem;
    margin-top: 1.2rem; }
    @media (min-width: 768px) and (max-width: 1333px) {
      header .secondLevel .social-links,
      footer .secondLevel .social-links {
        margin-right: 5rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      header .secondLevel .social-links,
      footer .secondLevel .social-links {
        margin-top: 1.6rem; } }
    @media (max-width: 767px) {
      header .secondLevel .social-links,
      footer .secondLevel .social-links {
        margin-right: 5rem;
        margin-top: 2.2rem; } }
    header .secondLevel .social-links a,
    footer .secondLevel .social-links a {
      color: #FFF;
      font-size: 3.3rem; }
    header .secondLevel .social-links .fa-bars,
    footer .secondLevel .social-links .fa-bars {
      display: none; }
      @media (max-width: 767px) {
        header .secondLevel .social-links .fa-bars,
        footer .secondLevel .social-links .fa-bars {
          display: inline-block;
          color: #FFF;
          font-size: 3.3rem;
          margin-left: 10rem;
          cursor: pointer; } }
      @media (max-width: 479px) {
        header .secondLevel .social-links .fa-bars,
        footer .secondLevel .social-links .fa-bars {
          margin-left: 5rem; } }
    header .secondLevel .social-links .fa-times,
    footer .secondLevel .social-links .fa-times {
      display: none; }
      @media (max-width: 767px) {
        header .secondLevel .social-links .fa-times,
        footer .secondLevel .social-links .fa-times {
          display: inline-block;
          color: #FFF;
          font-size: 3.3rem;
          margin-left: 10rem;
          cursor: pointer;
          display: none; } }
      @media (max-width: 479px) {
        header .secondLevel .social-links .fa-times,
        footer .secondLevel .social-links .fa-times {
          margin-left: 5rem; } }
    header .secondLevel .social-links .fa-instagram,
    footer .secondLevel .social-links .fa-instagram {
      margin-left: 2rem; }
header .thirdLevel,
footer .thirdLevel {
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative; }
  header .thirdLevelHolder,
  footer .thirdLevelHolder {
    position: absolute;
    top: 33.3%;
    left: 34.5%;
    right: 35%; }
    @media (min-width: 768px) and (max-width: 1024px) {
      header .thirdLevelHolder,
      footer .thirdLevelHolder {
        left: 25.5%;
        right: 25.5%; } }
    @media (max-width: 767px) {
      header .thirdLevelHolder,
      footer .thirdLevelHolder {
        left: 5%;
        right: 5%;
        top: 25.3%; } }
    @media (max-width: 479px) {
      header .thirdLevelHolder,
      footer .thirdLevelHolder {
        top: 12%; } }
    header .thirdLevelHolderBig,
    footer .thirdLevelHolderBig {
      position: absolute;
      left: 33%;
      right: 33%;
      top: 55.3%; }
      @media (max-width: 1024px) {
        header .thirdLevelHolderBig,
        footer .thirdLevelHolderBig {
          left: 5%;
          right: 5%; } }
      @media (max-width: 767px) {
        header .thirdLevelHolderBig,
        footer .thirdLevelHolderBig {
          top: 44.5%; } }
      @media (max-width: 479px) {
        header .thirdLevelHolderBig,
        footer .thirdLevelHolderBig {
          top: 35%; } }
      header .thirdLevelHolderBig span,
      footer .thirdLevelHolderBig span {
        text-align: center;
        display: block;
        line-height: 2rem; }
        @media (max-width: 1024px) {
          header .thirdLevelHolderBig span,
          footer .thirdLevelHolderBig span {
            line-height: 3rem; } }
        header .thirdLevelHolderBig span:before,
        footer .thirdLevelHolderBig span:before {
          display: block;
          width: 10rem;
          height: 0.5rem;
          background-color: #FFF;
          content: '';
          margin: 0 auto;
          margin-bottom: 3.1rem; }
      header .thirdLevelHolderBig i,
      footer .thirdLevelHolderBig i {
        font-size: 5rem;
        color: #FFF;
        display: block;
        text-align: center;
        margin: 5rem auto;
        cursor: pointer; }
    header .thirdLevelHolderText,
    footer .thirdLevelHolderText {
      color: #FFF;
      font-size: 1.8rem; }
      @media (max-width: 1024px) {
        header .thirdLevelHolderText,
        footer .thirdLevelHolderText {
          font-size: 2.5rem; } }
    header .thirdLevelHolder img,
    footer .thirdLevelHolder img {
      width: 100%; }
    header .thirdLevelHolder h2,
    footer .thirdLevelHolder h2 {
      font-size: 3rem;
      color: white;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 2rem;
      font-family: "NexaHeavy", Arial, Helvetica, Tahoma, sans-serif; }
header .fullscreen,
footer .fullscreen {
  width: 100%;
  height: 100%;
  overflow: hidden; }
header .background,
footer .background {
  background-repeat: no-repeat;
  background-position: 50% 12%;
  background-position: 50% 12% 9 !important;
  background-attachment: fixed; }
  @media (max-width: 1024px) {
    header .background,
    footer .background {
      background-attachment: inherit; } }

.mobile {
  display: block !important;
  /* font-size: 5rem; */
  /* color: white; */
  position: absolute;
  top: 7.6rem;
  left: 0;
  right: 0;
  background: #ec008c; }
  .mobile li {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    padding-right: 0 !important; }
    .mobile li a:before {
      display: none !important; }

footer {
  font-size: 0; }
  footer .secondLevel {
    position: relative;
    top: 0;
    padding: 0 7rem; }
    @media (max-width: 767px) {
      footer .secondLevel {
        padding-bottom: 2rem; } }
    footer .secondLevel .copyright,
    footer .secondLevel .designed,
    footer .secondLevel .footer-logo {
      width: 33%;
      display: inline-block;
      vertical-align: middle;
      padding-top: 1rem; }
      @media (max-width: 767px) {
        footer .secondLevel .copyright,
        footer .secondLevel .designed,
        footer .secondLevel .footer-logo {
          width: 100%;
          display: block;
          vertical-align: inherit; } }
    footer .secondLevel .copyright {
      text-align: left; }
      @media (max-width: 767px) {
        footer .secondLevel .copyright {
          text-align: center; } }
    footer .secondLevel .designed {
      text-align: center; }
    footer .secondLevel .footer-logo {
      padding-top: 1rem;
      text-align: right; }
      footer .secondLevel .footer-logo img {
        float: right; }
        @media (max-width: 767px) {
          footer .secondLevel .footer-logo img {
            float: none;
            margin: 0 auto; } }
    footer .secondLevel a, footer .secondLevel span {
      font-size: 1.6rem;
      color: #FFF; }

.footer-info ul {
  margin-top: 3rem;
  margin-bottom: 6rem; }
  .footer-info ul li {
    line-height: 2rem; }
    .footer-info ul li span, .footer-info ul li a {
      color: #FFF;
      font-size: 1.5rem; }
    .footer-info ul li i {
      color: #ec008c;
      font-size: 1.5rem;
      margin-right: 1rem; }

.flag, .flag--block, .flag--large, .flag--right {
  display: table;
  float: left; }
  .flag__media {
    display: table-cell; }
    .flag__media img {
      width: 100%; }
  .flag__body {
    display: table-cell;
    vertical-align: middle; }

.flag--block {
  width: 100%; }
  .flag--block .flag__media {
    display: table-cell;
    vertical-align: top; }
  .flag--block .flag__body {
    display: table-cell;
    vertical-align: middle; }

.flag--large .flag__media {
  width: 50%; }
.flag--large .flag__body {
  width: 50%; }

.flag--right {
  direction: rtl; }
  .flag--right .flag__media,
  .flag--right .flag__body {
    direction: ltr; }

.pagination {
  background: #FA0;
  text-align: center; }
  .pagination li {
    display: inline-block; }
  .pagination a {
    display: block;
    padding: 0.5rem;
    margin: 0 1rem;
    color: #FFF;
    font-size: 3rem; }
    .pagination a:hover, .pagination a:active, .pagination a:focus {
      color: #000; }

.hpSlider img {
  margin: 0 auto; }

.hpSlider__text {
  position: absolute;
  bottom: 5rem;
  right: 5rem; }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2; }
  .slick-arrow.slick-next {
    right: 0; }
  .slick-arrow.slick-prev {
    left: 0; }

.bodyPage {
  overflow: hidden; }
  .bodyPageFirstLevel {
    padding-top: 7.55rem; }
    .bodyPageFirstLevel-parallax {
      height: 41rem;
      background: url("../images/dance.jpg");
      background-position: 0% 0%;
      background-attachment: fixed;
      margin-top: 10rem;
      position: relative;
      background-repeat: no-repeat; }
      @media (max-width: 1024px) {
        .bodyPageFirstLevel-parallax {
          background-attachment: inherit;
          height: 50rem;
          background-position: 35% 10%; } }
      @media (max-width: 767px) {
        .bodyPageFirstLevel-parallax {
          height: 65rem; } }
      .bodyPageFirstLevel-parallaxHolder {
        position: absolute;
        left: 20%;
        right: 20%;
        top: 5.5rem;
        max-width: 70rem;
        margin: 0 auto; }
        @media (max-width: 767px) {
          .bodyPageFirstLevel-parallaxHolder {
            left: 5%;
            right: 5%; } }
  .bodyPage .relative {
    position: relative; }
  .bodyPageSecondLevel, .bodyPageThirdLevel, .bodyPageFourthLevel {
    padding-top: 5.8rem;
    max-width: 65rem;
    margin: 0 auto;
    text-align: center;
    position: relative; }
    .bodyPageSecondLevel h3, .bodyPageThirdLevel h3, .bodyPageFourthLevel h3 {
      font-size: 3rem;
      color: #FFF;
      background: url("../images/pink-background.png");
      background-repeat: no-repeat;
      background-position: 50%;
      padding: 1rem 0; }
  .bodyPageThirdLevel-parallax {
    height: 41rem;
    background: url("../images/quote-background.jpg");
    background-position: 0% 0%;
    background-attachment: fixed;
    margin-top: 10rem;
    position: relative;
    background-repeat: no-repeat;
    opacity: 1 !important; }
    @media (max-width: 1024px) {
      .bodyPageThirdLevel-parallax {
        background-attachment: inherit;
        background-position: 0% 30%; } }
    @media (max-width: 767px) {
      .bodyPageThirdLevel-parallax {
        height: 50rem;
        background-position: 21% 30%; } }
    .bodyPageThirdLevel-parallaxHolder {
      position: absolute;
      left: 20%;
      right: 20%;
      top: 5.5rem;
      max-width: 70rem;
      margin: 0 auto; }
      .bodyPageThirdLevel-parallaxHolder img {
        margin: -2rem auto; }
        @media (min-width: 768px) and (max-width: 1024px) {
          .bodyPageThirdLevel-parallaxHolder img {
            width: 40%; } }
  .bodyPageFlexLevel-parallax {
    height: 41rem;
    background: url("../images/flex.jpg");
    background-position: 0% 0%;
    background-attachment: fixed;
    margin-top: 10rem;
    position: relative;
    background-repeat: no-repeat;
    opacity: 1 !important; }
    @media (max-width: 1024px) {
      .bodyPageFlexLevel-parallax {
        background-attachment: inherit;
        height: 50rem;
        background-position: 35% 32%; } }
    @media (max-width: 479px) {
      .bodyPageFlexLevel-parallax {
        height: 60rem; } }
    .bodyPageFlexLevel-parallaxHolder {
      position: absolute;
      left: 20%;
      right: 20%;
      top: 5.5rem;
      max-width: 70rem;
      margin: 0 auto; }
      .bodyPageFlexLevel-parallaxHolder img {
        margin: -2rem auto; }
  .bodyPageFourthLevel {
    max-width: 100%; }
    .bodyPageFourthLevel-instagram {
      width: 100%; }
    .bodyPageFourthLevel iframe {
      border: 5px solid #ec008c; }
    .bodyPageFourthLevel-instagram ul {
      font-size: 0; }
      .bodyPageFourthLevel-instagram ul li {
        display: inline-block;
        width: 25%;
        position: relative;
        cursor: pointer; }
        @media (max-width: 767px) {
          .bodyPageFourthLevel-instagram ul li {
            width: 50%; } }
    .bodyPageFourthLevel .instagram__cover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: #fff;
      opacity: 0;
      text-align: center;
      -webkit-transition: all .25s ease-out;
      transition: all .25s ease-out;
      background-color: rgba(49, 52, 60, 0.7); }
      .bodyPageFourthLevel .instagram__cover:before {
        content: "\f16d";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        color: #FFF;
        font-size: 6.5rem;
        padding-right: 0.5em;
        position: absolute;
        top: 40%;
        left: 45%; }
    .bodyPageFourthLevel .bodyPageFourthLevel-instagram ul li:hover .instagram__cover {
      opacity: 1; }
  .bodyPageFifthLevel-parallax {
    height: 1080px;
    background: url(../images/euphoria.jpg);
    background-position: 50% 0%;
    background-attachment: fixed;
    margin-top: 10rem;
    position: relative;
    background-repeat: no-repeat;
    opacity: 1 !important; }
    @media (max-width: 1024px) {
      .bodyPageFifthLevel-parallax {
        background-attachment: inherit;
        height: 100%; } }
    @media (max-width: 767px) {
      .bodyPageFifthLevel-parallax {
        height: 70rem; } }
    .bodyPageFifthLevel-parallaxHolder {
      position: absolute;
      left: 20%;
      right: 20%;
      top: 5.5rem;
      max-width: 70rem;
      margin: 0 auto; }
  .bodyPage .first-image {
    position: absolute;
    top: 13.5rem;
    left: -100%; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .bodyPage .first-image {
        width: 75%; } }
    @media screen and (min-width: 768px) and (max-width: 769px) {
      .bodyPage .first-image {
        left: -80%; } }
    @media (max-width: 767px) {
      .bodyPage .first-image {
        display: none; } }
  .bodyPage .second-image {
    position: absolute;
    bottom: 13.5rem;
    right: -125%; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .bodyPage .second-image {
        width: 75%;
        right: -100%; } }
    @media (max-width: 767px) {
      .bodyPage .second-image {
        display: none; } }
    @media screen and (min-width: 768px) and (max-width: 769px) {
      .bodyPage .second-image {
        right: -80%; } }
  .bodyPage .third-image {
    position: absolute;
    top: 18rem;
    left: -100%; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .bodyPage .third-image {
        width: 75%;
        left: -85%; } }
    @media (max-width: 767px) {
      .bodyPage .third-image {
        display: none; } }
    @media (min-width: 768px) and (max-width: 1333px) {
      .bodyPage .third-image {
        left: -80%; } }
  .bodyPage .fourth-image {
    position: absolute;
    top: 18rem;
    right: -100%; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .bodyPage .fourth-image {
        width: 75%;
        right: -85%; } }
    @media (max-width: 767px) {
      .bodyPage .fourth-image {
        display: none; } }
    @media (min-width: 768px) and (max-width: 1333px) {
      .bodyPage .fourth-image {
        right: -80%; } }

.span-text,
.span-text-big,
.span-text-bigger {
  color: #FFF;
  line-height: 2rem;
  display: block;
  text-align: center;
  font-size: 1.6rem;
  max-width: 42rem;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .span-text,
    .span-text-big,
    .span-text-bigger {
      font-size: 2.5rem;
      line-height: 3rem;
      max-width: 100%; } }
  .span-text a,
  .span-text-big a,
  .span-text-bigger a {
    color: #ec008c; }

.span-text-big {
  max-width: 52rem; }

.span-text-bigger {
  margin: 3.5rem auto; }

#thumbnails ul {
  font-size: 0; }
#thumbnails li {
  display: inline-block;
  width: 25%; }
  @media (max-width: 767px) {
    #thumbnails li {
      width: 50%; } }

#lightbox-container-image-data-box {
  display: none !important; }

.bodyPageKontaktLevel-parallax {
  height: 50rem;
  background: url("../images/contact.jpg");
  background-position: 50% 100%;
  background-attachment: fixed;
  margin-top: 10rem;
  position: relative;
  background-repeat: no-repeat;
  opacity: 1 !important; }
  @media (max-width: 1024px) {
    .bodyPageKontaktLevel-parallax {
      background-attachment: inherit;
      height: 67%; } }
  @media (max-width: 479px) {
    .bodyPageKontaktLevel-parallax {
      height: 69rem; } }
  .bodyPageKontaktLevel-parallax h1 {
    padding-top: 5.4rem; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .bodyPageKontaktLevel-parallax h1 {
        padding-top: 15.4rem; } }
  .bodyPageKontaktLevel-parallax iframe {
    border: 5px solid #ec008c; }
  .bodyPageKontaktLevel-parallaxHolder {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 5.5rem;
    max-width: 70rem;
    margin: 0 auto; }
    .bodyPageKontaktLevel-parallaxHolder img {
      margin: -2rem auto; }

.footer-info {
  text-align: center; }

/*# sourceMappingURL=default.css.map */
