//-------------------------
//-------------------HEADER
//-------------------------
header,
footer {
    .firstlevel{
        background-color: $colorHeaderTop;
        height: 4.7rem;
        font-size: 0rem;
        padding: 1.8rem 10rem;
        position: fixed;
        width: 100%;
        z-index: $levelTop;
        @include breakpoint (laptop){
          padding: 1.8rem 5rem;
        }
        @include breakpoint (phone){
          display: none;
        }
        i{
          color: $colorPink;
        }
        .fa-phone-square{
          margin-left: 4.4rem;
        }
        .fa-envelope{
          margin-left: 5rem;
        }
        span{
          color: $colorWhite;
        }
        a{
          color: $colorWhite;
        }
        &Left,
        &Right{
          width: 50%;
          display: inline-block;
          font-size: 1.65rem;
        }
        &Right{
          text-align: right;
        }
    }
    .secondLevel{
      background-color: $colorPink;
      height: 5.5rem;
      position: fixed;
      width: 100%;
      top: 4.7rem;
      z-index: $levelTop;
      @include breakpoint (toDesktop){
        height: auto;
      }
      @include breakpoint (phone){
        top: 0;
      }
      .logo{
        display: inline-block;
        padding: 1rem 10rem;
        vertical-align: middle;
        @include breakpoint (laptop){
          padding: 1rem 5rem;
        }
        @include breakpoint (phoneSmall){
          padding: 1rem 2rem;
        }
      }
      .navigation{
        font-size: 1.6rem;
        color: $colorWhite;
        display: inline-block;
        vertical-align: middle;
        padding-left: 22.6rem;
        margin-top: 0.5rem;
        @media screen and (min-width: 1334px) and (max-width: 1615px){
          padding-left: 0rem;
        }
        @include breakpoint (laptop){
          padding-left: 2rem;
        }
        @include breakpoint (tablet){
          padding-left: 0;
        }
        @include breakpoint (phone){
          position: absolute;
          left: 0;
          right: 0;
          top: -0.5rem;
        }
        ul{
          @include breakpoint (phone){
            display: none;
          }
        }
        li{
          display: inline-block;
          padding-right: 9.5rem;
          text-transform: uppercase;
          @media screen and (min-width: 1334px) and (max-width: 1615px){
              padding-right: 5.5rem;
          }
          @include breakpoint (laptop){
            padding-right: 2rem;
          }
          a{
            padding: 1.7rem 0;
            color: $colorWhite;
          }
          .hvr-underline-from-center{
            color: $colorWhite;
          }
        }
      }
      .social-links{
        display: inline-block;
        vertical-align: middle;
        float: right;
        margin-right: 10rem;
        margin-top: 1.2rem;
        @include breakpoint (laptop){
          margin-right: 5rem;
        }
        @include breakpoint (tablet){
          margin-top: 1.6rem;
        }
        @include breakpoint (phone){
          margin-right: 5rem;
          margin-top: 2.2rem;
        }
        a{
          color: $colorWhite;
          font-size: 3.3rem;
        }
        .fa-bars{
          display: none;
          @include breakpoint (phone){
            display: inline-block;
            color: $colorWhite;
            font-size: 3.3rem;
            margin-left: 10rem;
            cursor: pointer
          }
          @include breakpoint (phoneSmall){
            margin-left: 5rem;
          }
        }
        .fa-times{
          display: none;
          @include breakpoint (phone){
            display: inline-block;
            color: $colorWhite;
            font-size: 3.3rem;
            margin-left: 10rem;
            cursor: pointer;
            display: none;
          }
          @include breakpoint (phoneSmall){
            margin-left: 5rem;
          }
        }
        .fa-instagram{
          margin-left: 2rem;
        }
      }
    }
    .thirdLevel{
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: relative;
      &Holder{
        position: absolute;
        top: 33.3%;
        left: 34.5%;
        right: 35%;
        @include breakpoint (tablet){
          left: 25.5%;
          right: 25.5%;
        }
        @include breakpoint (phone){
          left: 5%;
          right: 5%;
          top: 25.3%;
        }
        @include breakpoint (phoneSmall){
          top: 12%;
        }

        &Big{
          position: absolute;
          left: 33%;
          right: 33%;
          top: 55.3%;
          @include breakpoint (toDesktop){
            left: 5%;
            right: 5%;
          }
          @include breakpoint (phone){
            top: 44.5%;
          }
          @include breakpoint (phoneSmall){
            top: 35%;
          }
          span{
            text-align: center;
            display: block;
            line-height: 2rem;
            @include breakpoint (toDesktop){
              line-height: 3rem;
            }
            &:before{
                display: block;
                width: 10rem;
                height: 0.5rem;
                background-color: $colorWhite;
                content: '';
                margin: 0 auto;
                margin-bottom: 3.1rem;
            }
          }
          i{
            font-size: 5rem;
            color: $colorWhite;
            display: block;
            text-align: center;
            margin: 5rem auto;
            cursor: pointer;
          }
        }
        &Text{
          color: $colorWhite;
          font-size: 1.8rem;
          @include breakpoint (toDesktop){
            font-size: 2.5rem;
          }
        }
        img{
          width: 100%;
        }
        h2{
          font-size: 3rem;
          color: white;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 2rem;
          font-family: $baseFont--bold;
        }
      }
    }
    .fullscreen{
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .background {
    background-repeat: no-repeat;
    background-position: 50% 12%;
    background-position: 50% 12% 9 !important;
    background-attachment: fixed;
    @include breakpoint (toDesktop){
      background-attachment: inherit;
    }
    }

}
.mobile{
  display: block !important;
/* font-size: 5rem; */
/* color: white; */
position: absolute;
top: 7.6rem;
left: 0;
right: 0;
background: $colorPink;
li{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  padding-right: 0 !important;
  a{
    &:before{
      display: none !important;
    }
  }
}
}
